<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobai.securitylogin.dao.UserInfoMapper">
   <insert id="insert" parameterType="com.xiaobai.securitylogin.bean.UserInfoDO">
        insert into t_user_info (usr_nm,usr_pswd) value (#{username},#{password})
   </insert>

   <select id="selectByUsername" resultType="com.xiaobai.securitylogin.bean.UserInfoDO">
        select usr_nm username,usr_pswd password from t_user_info where usr_nm = #{username}
   </select>
</mapper>